@font-face {
    font-family: jetBrainsMono-bold;
    src: url(../../fonts/JetBrainsMono-Bold.ttf);
}
@font-face {
    font-family: jetBrainsMono-bold-italic;
    src: url(../../fonts/JetBrainsMono-BoldItalic.ttf);
}
@font-face {
    font-family: jetBrainsMono;
    src: url(../../fonts/JetBrainsMono-VariableFont_wght.ttf);
}