// COLOR PALETTE
$clrRed: #F64A4A;
$clrOrange: #FB7C58;
$clrYellow: #F8CD65;
$clrNeonGreen: #A4FFAF;
$clrAlmostWhite: #E6E5EA;
$clrDarkGrey: #24232C;
$clrVeryDarkGrey: #18171F;

// LAYOUT
$layoutPadding: 16px;

// LAYOUT BREAKPOINTS
$break-narrow: 600px;
$break-normal: 960px;
$break-wide: 1300px;
$break-Extra-wide: 1700px;