.password-form {
    background-color: $clrDarkGrey;
    padding: em(15px);

    .character-length {

        color: $clrAlmostWhite;
        font-weight: 700;
        font-size: 18px;

        .character-length-headline {
            width: 100%;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            .greenNeon {
                color: $clrNeonGreen;
                font-size: 30px;
            }
        }
    }

    .input-type-check {
        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $clrAlmostWhite;
            gap: em(13px);
            padding: em(7.5px) em(0px);

            // input[type="checkbox"] {
            //     // -webkit-appearance: none;
            //     // appearance: none;
            //     // width: 20px;
            //     // height: 20px;
            //     cursor: pointer;
            // }
        }


    }

}