.password-preview {
    background-color: $clrDarkGrey;
    margin-bottom: em(15px);
    padding: em(15px);
    justify-content: space-between;
    align-items: center;
    svg {
        cursor: pointer;
    }
}