.password-form {
    background-color: $clrDarkGrey;
    padding: em(15px);

    .range-input {
        input {
            -webkit-appearance: none;
            height: em(11.5px);
            width: 100%;
            background-color: $clrVeryDarkGrey;
            background-image: linear-gradient($clrNeonGreen, $clrNeonGreen);
            background-repeat: no-repeat;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: em(23px);
                width: em(23px);
                background-color: whitesmoke;
                border-radius: 50%;
                cursor: pointer;
                margin-bottom: em(1px);

                &:hover {
                    background-color: $clrVeryDarkGrey;
                    border: 2px solid $clrNeonGreen;
                }
            }
        }
    }
}